@import url(../style/global.css);

body{
    width: 100%;
    height: 200vh;

}
header{
    width: 100%;
    height: 60px;
    background-color: var(--sixth-color);
    font-family: var(--default-font-family);
}
.header{
    width: 100%;
    height: 60px;
    display: flex;
    
}
.header .logo{
    width: 35px;
    height: 35px;
    padding: 12px;
}
.header h1{
    margin-top: 10px;
}
.botao{
    width: auto;
    height: 100%;
    display: flex;
    margin-left: 670px;
}
.botao button{
    background-color: var(--sixth-color);
    color: black; 
    font-family: var(--default-font-family); 
    font-weight: bold; 
    font-size: 15px; 
    text-align: center; 
    padding: 10px 20px; 
    border: 0px solid;
    outline: none; 
    cursor: pointer; 
    transition: 0.3s;
}
.botao button:hover{
    text-decoration: underline;
    
}
.modo-escuro img{
    width: 23px;
    height: 23px; 
    cursor: pointer;
    transition: all 0.3s ease;
}

.modo-escuro {
    margin-top: 7px;
    align-items: center;
    width: auto;
    height: 50px;
}

.modo-escuro img:hover {
    transform: rotate(360deg);
    
}

.modo-escuro img:active {
    transform: scale(0.95);
}
.perfil{
    width: 120px;
    height: 60px;
    display: flex;
}
.perfil img{
    width: 35px;
    height: 35px;
}

.perfil button{
    background-color: var(--seventh-color); 
    font-family: var(--default-font-family); 
    font-weight: bold; 
    font-size: 15px; 
    border: 0px solid;
    outline: none; 
    cursor: pointer; 
    transition: 0.3s;
}
.perfil button:hover{
    text-decoration: underline;
    text-decoration-color: var(--sixth-color);
}
.perfil p{
    padding-top: 10px;
    padding-left: 9px;
}
main{
    width: 100%;
    height: 100%;
    
}
.fundo{
    width: 100%;
    height: 100%;
}
.fundo .ondas{
    width: 100%;
  
}
.fundo .pessoas{
    position: absolute;
    width: 500px;
    right: 8%;
    top: 17%;
}
.texto{
    font-family: var(--default-font-family);
    margin-left: 5%;
    color: var(--sixth-color);
}
.fundo h1{
    position: absolute;
    width: 40%;
    font-size: 40px;
    top: 35%;
}
.fundo p{
    position: absolute;
    width: 38%;
    font-size: 25px;
    top: 60%;
}
.fundo button{
    font-size: 15px;
    font-family: var(--default-font-family); 
    font-weight: bold; 
    position: absolute;
    width: 150px;
    height: 45px;
    top: 97%;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3;
    font-style: black;
    border: none;
    
}
.fundo button a{
    text-decoration: none; 
    color: black;
}
.fundo button:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.portals {
    font-family: var(--default-font-family);
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center; 
    gap: 100px;
    bottom: 230px;
}
.portal {
    text-align: center;
    width: 100px;
    height: auto;
}
.portal img {
    max-width: 100%;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
}
.portal p {
    font-size: 1.1em;
    color: black; 
}

.linha-vermelha{
    width: 100px;
    height: 7px;
    background-color: var(--third-color);
    margin-top: 5px;
    border-radius: 20px;
}
.linha{
    margin-top: 80px;
    border-top: 0.5px solid #6C6464;
    width: 90%;
    margin-left: 2%
}